THESSLA_TRANSPORT=serial
THESSLA_SERIAL_PORT=COM3
THESSLA_BAUDRATE=9600
THESSLA_HOST=192.168.1.100
THESSLA_PORT=8899
THESSLA_DEVICE_ID=10
THESSLA_POLL_INTERVAL_SECONDS=5
THESSLA_DATABASE_URL=sqlite:///./thessla.db
THESSLA_API_BIND=127.0.0.1
THESSLA_API_PORT=8000

